@font-face {
  font-family: "dusha";
  src: url(../fonts/fifa-world-cup-russia-2018-dusha/Dusha_-_FIFA_World_Cup_2018.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "dusha";
}
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
.relative {
  position: relative;
}
.pull-right {
  float: right;
}
.cp {
  cursor: pointer;
}
.hide {
  display: none;
}
.block {
  display: block !important;
}
.no-cursor {
  cursor: not-allowed;
}
/* spacing */
.mt-30 {
  margin-top: 30px;
}
.mt-15 {
  margin-top: 15px;
}
.nav-logo {
  height: 60px;
  position: absolute;
  left: 0px;
  top: 8px;
  left: 15px;
}
header {
  position: fixed;
  text-align: center;
  width: 100%;
  background: #002c5f;
}
header a p {
  position: absolute;
  top: 7px;
  right: 65px;
  font-weight: bold;
  background: white;
  color: red;
  padding: 7px 10px;
  border-radius: 4px;
}
header h1 a {
  text-decoration: none;
  color: #fff;
}
.body-wrapper {
  height: calc(100vh - 120px);
  background: url(../images/body-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 25px;
  padding: 100px 30px 20px 30px;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col-50 {
  width: 50%;
  display: inline-block;
  float: left;
}
.col-40 {
  width: 20%;
  float: left;
  display: block;
}
.country-name {
  background: white;
  padding: 5px 15px;
  display: inline-block;
  min-width: 105px;
  min-height: 20px;
  text-align: center;
  border-radius: 4px;
  z-index: 1;
}
.country-name span {
  vertical-align: sub;
}
.country-name::before {
  content: "";
  width: 7px;
  height: 1px;
  background: white;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.country-name-left::before {
  right: -7px;
}
.country-name-right::before {
  right: 135px;
}
.country-name-quarter-left {
  position: relative;
  top: 27px;
  left: 11px;
}
.country-name-quarter-left::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 61px;
  background: white;
  top: -11px;
  left: -8px;
}
.country-name-quarter-left::after {
  content: "";
  position: absolute;
  width: 153px;
  height: 1px;
  right: -10px;
  background: white;
  top: 50%;
  z-index: -1;
}

.country-name-quarter-right {
  position: relative;
  top: -35px;
  right: 15px;
}
.country-name-quarter-right::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 62px;
  background: white;
  top: -10px;
  left: 142px;
}
.country-name-quarter-right::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 1px;
  right: -8px;
  background: white;
  top: 50%;
  z-index: -1;
}
.country-name-semi-left {
  top: 83px;
  left: 25px;
}
.country-name-semi-left::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 108px;
  background: white;
  top: -40px;
  left: -8px;
}
.country-name-semi-left::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  right: 128px;
  background: white;
  top: 50%;
}
.country-name-semi-right {
  top: 27px;
  left: -35px;
}
.country-name-semi-right::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 108px;
  background: white;
  top: -46px;
  left: 147px;
}
.country-name-semi-right::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 1px;
  right: -13px;
  background: white;
  top: 50%;
}
.country-name-final-left {
  top: 205px;
  left: 3%;
}
.country-name-final-right {
  top: 143px;
  right: 5%;
}
.score {
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgb(205, 8, 36);
}
/* gallery list */
.gallery-list {
  padding: 77px 0px 0px 0px;
  list-style: none;
}
.gallery-list li {
  display: block;
  float: left;
  padding: 5px;
}
.gallery-list li img {
  height: 150px;
  width: auto;
}

/* modal popup */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  clear: both;
  overflow: auto;
}

/* The Close Button */
.close {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
}

/* related images popup */
.related img {
  height: 100px;
  width: auto;
  padding: 0px 5px 10px 5px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.my-slides {
  display: none;
  height: 250px;
  width: 100%;
  object-fit: contain;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background: #cccccc;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
